<div class="text-layout">
  <h1>Pipes Básicos</h1>

  <p>
    Pipes Incluidos en Angular - módulo Common
  </p>
</div>

<div class="grid col-12">
  <div class="col-4">
    <p-card header="Uppercase"
             [subheader]="nombreLower" >
        {{nombreUpper | uppercase}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Lowercase"
             [subheader]="nombreUpper" >
        {{nombreLower | lowercase}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Titlecase"
             [subheader]="nombreCompleto" >
        {{nombreCompleto | titlecase}}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>

  <p>
    Pipe para mostrar formatos de fecha
  </p>
</div>

<div class="grid col-12">
  <div class="col-6">
    <p-card header="Uso del Pipe" >
        <ul>
          <li>fecha Javascript</li>
          <li>fecha | date</li>
          <li>fecha | date:'short'</li>
          <li>fecha | date:'long'</li>
          <li>fecha | date:'h:mm a z GGG'</li>
        </ul>

        <hr>

        <ul>
          <li>fecha | date:'long'</li>
          <li>fecha | date:'long':'GMT-5'</li>
          <li>{{fecha | date:'long':'':'en'}}</li>
        </ul>
    </p-card>
  </div>

  <div class="col-6">
    <p-card header="Resutado del Pipe" >
        <ul>
            <li>{{fecha}}</li>
            <li>{{fecha | date}}</li>
            <li>{{fecha | date:'short'}}</li>
            <li>{{fecha | date:'long'}}</li>
            <li>{{fecha | date:'h:mm a z GGG'}}</li>
        </ul>

        <hr>

        <ul>
          <li>{{fecha | date:'long'}}</li>
          <li>{{fecha | date:'long':'GMT-5'}}</li>
          <li>{{fecha | date:'long':'':'en'}}</li>
        </ul>
    </p-card>
  </div>
</div>
